@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Montserrat&display=swap');

/* setting up padding border margin to 0 for the whole site */

/* below code is common to all pages same header and footer elements*/
* {
    margin: 0;
    padding: 0;
    border: none;
}
body{
    font-family: "Lexend", sans-serif;
    font-weight: 300;
    color: #3f3f3f
}

header {
    background-color: lightgray;
    padding: 20px;
  }
  
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  header ul {
    list-style: none;
    display: flex;
    margin: 0;
  }
  
  header li {
    margin: 0 10px;
  }
  
  footer {
    /* position: absolute; */
    /* top: 80%; */
    /* left: 50%; */
    /* padding-top: 10%;*/
    margin-top: 28%; 
    background-color: lightgray;
    padding: 20px;
    text-align: center;
    
  }

  footer ul {
    text-align: center;
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
    /* margin: 0;  */
  }
  
  footer li {
    margin: 0 2%;
    display: inline;
  }

  footer i{
    font-size: 140%;
    margin: 2%;
    padding: 4%;
    color: black
 } 

 footer i:hover {
    color: red;
 }

  /* Below is the Game area*/
  
  #game_area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    text-align: center;
    /* width: 400px;
    height: 500px; */
    margin: 0 auto;
    border: 1px solid black;
    
  }

  .title{
    text-align: center;
}  
  
  #counter {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    /* margin: 10px auto; */
    /* width: 30%; */
    /* font-size: 1.2rem; */
  }

#wins {
    color: green;
    font-weight: bold;
}

#losses {
    color: red;
    font-weight: bold;
}
#choices {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.blue {
    border-color: blue;
    color: blue;
}
.blue:focus,
.blue:hover {
    background-color: darkblue;
    color: white;
}
.red {
    border-color: rgb(255, 0, 0);
    color: rgb(255, 0, 0);
}

.red:focus,
.red:hover {
    background-color: rgb(139, 0, 0);
    color: white;
}
.yellow {
  border-color: green;
  color: green;
}

.yellow:focus,
.red:hover {
  background-color: green;
  color: white;
}