@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Montserrat&display=swap');

/* setting up padding border margin to 0 for the whole site */

/* below code is common to all pages same header and footer elements*/

body{
    font-family: "Lexend", sans-serif;
    font-weight: 300;
    color: #3f3f3f; 
    display: flex;
    flex-direction: column;
    /* margin: 0; */
   
}

header {
    background-color: lightgray;
    padding: 20px;
    height: 70px;
    
  }
  
  header nav {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
  }
  
  header h1 {
    margin: 0;
  }
  
  header ul {
    list-style: none;
    display: flex;
    margin: 0;
  }
  
  header li {
    margin: 0 10px;
    padding: 20px;
  }
  
  .current_page {
   
    font-weight: bold;
    font-size: larger;
    
 }
    footer {
    bottom: 5px;
    height: 100px;
    text-align: center;
    width: 100%;
    background-color: lightgray;
  /* padding: 20px; */
  }

  footer ul {
    
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
    /* margin: 0;  */
  }
  
  footer li {
    margin: 0 2%;
    display: inline;
    
  }

  footer i{
    font-size: 140%;
    margin: 2%;
    padding: 4%;
    color: black;
    text-align: center;
 } 

 footer i:hover {
    color: red;
 }

  /* Below is the Game area*/
  
  main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  }
  #game_area {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
    align-self: center;
    height: 500px;
    border: 1px solid black;
  }

  .title{
    text-align: center;
}  
  
  #counter {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    /* margin: 10px auto; */
    /* width: 30%; */
    /* font-size: 1.2rem; */
  }

#wins {
    color: green;
    font-weight: bold;
}

#losses {
    color: red;
    font-weight: bold;
}
#choices {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.blue {
    border-color: blue;
    color: blue;
}
.blue:focus,
.blue:hover {
    background-color: darkblue;
    color: white;
}
.red {
    border-color: rgb(255, 0, 0);
    color: rgb(255, 0, 0);
}

.red:focus,
.red:hover {
    background-color: rgb(139, 0, 0);
    color: white;
}
.yellow {
  border-color: green;
  color: green;
}

.yellow:focus,
.red:hover {
  background-color: green;
  color: white;
}

/*-----------------------------------------------------quizz section-----------------------------------------------------------------*/
.question{
	font-weight: 600;
  display: block;}
.answers label{
    display: block;}  

 /*-----------------------------------------------------404 Section-----------------------------------------------------------------*/   
 .error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.error-code {
  font-size: 180px;
  color: #ff7473;
  margin-right: 20px;
}

.error-text {
  font-size: 30px;
  color: #333;
}

